# Excluir archivos de configuración de desarrollo
node_modules/
*.log


# Excluir archivos de prueba
.exe
*.zip
test/
tests/
img/
hw/
# Excluir archivos de construcción
build/
dist/
*.tgz

# Excluir archivos específicos del sistema
*.DS_Store
*.idea/
*.vscode/
